:root{
  --mainBrown:#662200;;
  --mainYellow: rgb(223, 93, 6);
  --mainRed: rgb(189, 6, 6);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
}

body {
font-family: "Kaushan Script", cursive !important;
  background: var(--mainWhite) !important;
  color: var(--mainBlack) !important;
}



  .bg {
  background-image: linear-gradient(var(--yellowTrans), var(--yellowTrans)),url("./components/homeslide01.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .hometext{
    font-size: 4rem;
    text-align: center;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:var(--mainWhite);
  }
  .coffee1{
    color:var(--mainBrown);
  }
  .bg1 {
    background-image: url("./components/homeslide02.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .bg2 {
      background-image: url("./components/homeslide03.jpg");
      height: 100vh;
      width: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      }
.text-title{
  font-family: 'Roboto', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-brown{
  color: var(--mainBrown)
}

.text-bright{
  color: var(--mainYellow);
}
#about {
  text-align: center;
}

.banner-title{
  color: var(--mainBrown);
}

.btn-black{
  background: var(--mainBlack);
  text-transform: capitalize;
  font-size:0.8rem !important;
  color: var(--mainWhite) !important;
  border-radius:0 !important;
  border:0.1rem var(--mainBlack) !important;
}


.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
  
  .Form {
    height: 100vh;
    display: flex;
    color: white;
  }
  
  .Form__Aside {
    width: 50%;
    background-color: var(--mainGrey);
  }
  
  .App__Form {
    width: 50%;
    background-color: var(--mainBrown);
    padding: 25px 40px;
    overflow: auto;
  }
  
  .PageSwitcher {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10%;
  }
  
  .PageSwitcher__Item {
    background-color: #795548;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: .9em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
  }
  .PageSwitcher__Item:hover{
    color: #9DA6B1;
    text-decoration: none;
  }
  .PageSwitcher__Item--Active {
    background-color: var(--mainYellow);
    color: white;
  }
  
  .PageSwitcher__Item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .PageSwitcher__Item:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .FormCenter {
    margin-bottom: 100px;
  }
  
  .FormTitle {
    color: #707C8B;
    font-weight: 300;
    margin-bottom: 50px;
  }
  
  .FormTitle__Link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
  }
  
  .FormTitle__Link:first-child {
    margin-left: 0;
  }
  
  .FormTitle__Link--Active {
    color: var(--mainGrey);
  }
  .FormTitle__Link:hover{
    color: var(--mainGrey);
    text-decoration: none;
  }
  
  .FormField {
    margin-bottom: 40px;
  }
  
  .FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: #969492;
  }
  .FormField__Input {
    width: 85%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .FormField__Input::placeholder {
    color: #fff;
  }
  
  .FormField__Button {
    background-color: var(--mainYellow);
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 10px 30px;
    font-size: .8em;
    font-weight: 500;
  }
  
  .FormField__Link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
  }

  .FormField__Link:hover{
    text-decoration: none;
  }
  
  .FormField__CheckboxLabel {
    color: #646F7D;
    font-size: .9em;
  }
  
  .FormField__Checkbox {
    position: relative;
    top: 1.5px;
  }
  
  .FormField__TermsLink {
    color: white;
    border-bottom: 1px solid #199087;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
  }

  .FormField__TermsLink:hover{
  color:var(--mainYellow);
  text-decoration: none;
  }

  .FormField__Link:hover{
      color:var(--mainYellow);
      text-decoration: none;
  }

#GDPR {
  font-family: 'Raleway';
  
}

#checkout{
  text-align:left;
}

.container-checkout{
  float:right;
}